<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="JS" />
    <meta name="Copyright" content="JS" />
    <meta name="Description" content="《地下城与勇士》DNF ImagePacks2目录的注释工具。《地下城与勇士》是由腾讯代理引进的一款超坑钱格斗网游作品，ImagePacks2是本游戏主要的贴图存放目录，WCG2011年DNF中国区总决赛一起超越充钱极限。" />
    <meta name="Keywords" content="地下城与勇士,DNF,Dungeon&Fighter,DF,D&F,地下城,勇士,ImagePacks2,ImagePacks,横版,2D,npk,免费,鬼剑士,格斗,格斗家,神枪手,枪手,圣职,红眼,白手,鬼气,阿修罗,气功师,大枪,漫游,阿拉德,召唤兽,投币,复活币" />
    <!--页面设计：JS | 页面制作：JS| 创建：2017-2-6 12:08:08| 作品发布地：http://bbs.exrpg.com/space-uid-631828.html -->
    <title>JS的ImagePacks2目录注释工具</title>
    <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
    <link rel="mask-icon" href="https://assets-cdn.github.com/pinned-octocat.svg" color="#000000">
    <link rel="stylesheet" href="css.css"/>
</head>
<body ng-app="ngApp" ng-controller="ngCtrl">
    <div class="nav_top">
        <img src="logo.png" alt="DNF ImagePacks2 Note"/>
    </div>
    <div class="nav_right">
        <div class="space"></div>
        <div class="board">
            <div>
                <img src="JS3.png" class="head" alt=""/>
                <span class="rightLine">
                    大家好，我是开发者js，
                    <a href="http://www.bilibili.com/video/av2970979/" target="_blank">点击看我的代表作！</a>
                    有钱秒秒秒没钱做mod，愿大家都能充最少的钱，做出心满意足的补丁，
                    由于目前根本不存在版权的概念，我只希望大家能够尊重原创者的劳动，争做道德小霸王
                </span>
                <hr/>
            </div>
            <div>
                <img src="JS3.png" class="head" alt=""/>
                <span class="rightLine">
                    欢迎大家使用本工具，有问题或想成为管理员请提交至马群：<a href="http://shang.qq.com/wpa/qunwpa?idkey=ed7ead2a32550976616a01f09a8f4a81f25d7a5841fd23ed1ddad01ec1db4c81">578328704</a>
                    <a href="https://github.com/lfjs/DNF_ImagePacks2_Note/issues" target="_blank">点击这里提交bug或建议</a>
                    （管理员需要注册github，还没有注册github的同学请：
                    <a target="_blank" href="https://github.com/">https://github.com/</a>）
                </span>
                <hr/>
            </div>
        </div>
    </div>
    <div class="nav_left">
        <div class="tools">
            <div class="date" id="date">最后发布于：<span ng-bind="titles[4]|date:'yyyy-MM-dd HH:mm:ss'"></span></div>
            <button class="reload" id="reload">重新加载列表</button>
            <button class="reload" id="show">展示所有信息</button>
            <a href="https://lfjs.github.io/DNF_ImagePacks2_Note/indexAdmin.html"><button class="goAdmin" id="">去管理员页面</button></a>
            <ul id="filter_list">
                <li>咖啡</li>
                <li>茶</li>
                <li>牛奶</li>
            </ul>
            <!--<div class="info" id="info">点击蓝色倒三角以筛选=）</div>-->
        </div>
    </div>

    <div class="wtable" id="wtable">
        <table id="active_table">
            <thead>
            <tr>
                <th ng-repeat="x in titles">{{x}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in names">
                <td>{{$index+1}}</td>
                <td ng-repeat="y in x track by $index">{{y}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="angular.min.1.6.3.js"></script>
    <script src="ng.js"></script>
</body>
</html>